
/* 
.create-request-page {

} */
.create-request-page p{
    font-family: Inter-SemiBold;
    color: #5c5b5b;
    font-size: 14;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: left;
    }